@font-face {
    font-family: "RobotoCondensed";
    src: url("../font/RobotoCondensed-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("../font/RobotoCondensed-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "RobotoCondensed";
    src: url("../font/RobotoCondensed-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Proda";
    src: url("../font/ProbaPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Proda";
    src: url("../font/ProbaPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Proda";
    src: url("../font/ProbaPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Proda";
    src: url("../font/ProbaPro-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

.container-xl {
    max-width: 1170px;
}

body {
    font-family: RobotoCondensed;
}

header{
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 14px 12px -10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 14px 12px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 14px 12px -10px rgba(0, 0, 0, 0.2);
}

a:hover{
    text-decoration: none;
}

.gradient {
    background: radial-gradient(425.02px at 50% 50%, #286088 0%, #1c3a5a 100%);
}

.left-header{
    padding-top: 25px;
}

.city-arms {
    background-image: url(../img/kr.png);
    width: 281px;
    height: 306px;
    background-repeat: no-repeat;
    position: absolute;
    background-position: 50% 0;
    top: 0;
}

.text-headline {
    font-size: 23px;
    line-height: normal;
    margin-top: 124px;
}

.right-header{
    padding-top: 23px;
}
.right-header svg, .right-header .cls-1 {
    fill: #6986a6 !important;
}
.right-header .navbar-brand {
    white-space: normal;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.navbar-brand .icon {
    width: 24px;
    position: relative;
    overflow: hidden;
    height: 24px;
}

.navbar-brand .name-item {
    line-height: normal;
    font-size: 16px;
}

.navbar-brand .item {
    margin-bottom: 9px;
}

svg {
    font-size: medium;
    vertical-align: baseline;
}

.user {
    width: 21px;
    height: 21px;
}

.hide1 {
    width: 24px;
    height: 13px;
}

.search {
    width: 22px;
    height: 21px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #ffffff;
}

.main-menu .nav-item {
    position: static;
}

.main-menu{
    margin-top: 22px;
}

.main-menu > .navbar {
    padding: 0;
}

.main-menu .first-level > .nav-link {
    height: 59px;
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
    padding: 0 15px;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.navbar-toggler-mainMenu {
    border: none;
    margin-left: auto;
    padding: 0;
}

.navbar-toggler-mainMenu .menu-icon {
    width: 33px;
    height: 28px;
    margin: 8px 10px;
    overflow: hidden;
}
.right-header .navbar-toggler-mainMenu .menu-icon svg .cls-1{
    fill: #eef5ff !important;
}

.right-header .navbar-toggler-mainMenu .menu-icon svg{
    width: 46px;
    height: 46px;
    transform: translate(-6px, -8px);
}

.navbar-toggler-mainMenu.open .menu-icon{
    display: none;
}

.navbar-toggler-mainMenu .close-icon {
    width: 27px;
    height: 26px;
    display: none;
    margin: 11px 12px;
    overflow: hidden;
}
.right-header .navbar-toggler-mainMenu .close-icon svg .cls-1{
    fill: #7b97b6 !important;
}

.right-header .navbar-toggler-mainMenu .close-icon svg{
    width: 60px;
    height: 60px;
    transform: translate(-16px, -16px);
}

.navbar-toggler-mainMenu.open .close-icon{
    display: block;
}

.main-menu .first-level.show > .nav-link,
.main-menu .first-level.show > .nav-link:focus{
    color: #ffe449;
    position: relative;
}

.main-menu .first-level.show > .nav-link:after {
    background-color: #1a314b;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    left: -6px;
    right: -6px;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.main-menu .first-level.show > .nav-link span{
    z-index: 1;
}

.first-level-link {
    position: relative;
}

.main-menu .dropdown-menu {
    border: none;
    background-color: #1a314b;
    border-radius: 0 0 15px 15px;
    padding: 12px 15px 28px;
    width: 100%;
    -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.main-menu .first-level > .dropdown-menu {
    left: -10px;
    width: calc(100% + 30px);
    margin: 0 0 0 -6px;
}

.main-menu .dropdown-menu .nav-item {
    background-color: #1a314b;
    padding: 0 15px;
    text-align: left;
}

.main-menu .dropdown-container.submenu-open > div > ul > li:not(.submenu-open) {
    display: none;
}

.dropdown-container.show > .dropdown-menu {
    display: block;
}

.dropdown-container.show.submenu-open > .dropdown-menu {
    background: transparent;
}

.main-menu .dropdown-menu .nav-link {
    color: #fff;
    margin-top: 6px;
    position: relative;
    cursor: pointer;
    padding: 10px 0 16px;
}

.main-menu .line {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #165484;
}

.main-menu .dropdown-menu .nav-link .line {
    bottom: 0;
    left: 0;
}

.nav-item .line.more:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    border: 7px solid transparent;
    border-right: 7px solid #165484;
    border-bottom: 7px solid #165484;
}

.nav-item .nav-link:hover .line.more:after{
    border-right: 7px solid #ffd500;
    border-bottom: 7px solid #ffd500;
}

.main-menu  .nav-link:hover .line{
    background-color: #ffd500;
}

.main-menu .dropdown-menu .dropdown .nav-link:hover .angle-right-bottom {
    border-right-color: #ffd500;
    border-bottom-color: #ffd500;
}

.main-menu .dropdown-menu .nav-link span {
    font-size: 19px;
    line-height: 22px;
    white-space: normal;
}

.dropdown-back .line {
    left: 0;
    top: 0;
    position: absolute;
    width: 0;
}

.dropdown-back .line:after{
    border: 7px solid transparent;
    border-left: 7px solid #ffd500;
    border-top: 7px solid #ffd500;
    content: "";
    position: absolute;
}

.submenu-open .submenu {
    display: block;
    top: -2px;
}

.main-menu .dropdown-back .nav-link {
    background-color: #165484;
    border-radius: 0 15px 0 15px;
    color: #ffe449;
    padding: 13px;
}

.message-block .image {
    width: 165px;
    height: 165px;
    border-radius: 100%;
    border: 1px solid #dce1e9;
    overflow: hidden;
    margin: 6px 0 10px;
}

.message-block > div{
    margin-bottom: 38px;
}

.message-block .persona {
    -ms-flex:  0 195px;
    flex:  0 195px;
    max-width:  195px;
}

.message-block .persona span {
    color: #1c3a5a;
    line-height: normal;
    text-align: center;
    display: block;
}

.message-block .name {
    font-size: 18px;
    font-weight: 500;
}

.message-block .last-name {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.message-block .function {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin-top: 2px;
}

.message-block .heading {
    color: #1c3a5a;
    margin-bottom: 16px;
}

.heading {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.message-block .message {
    background-color: #f5f7fa;
    padding: 10px 24px 11px 25px;
    border-radius: 15px;
}

.message-block .message p {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 18px;
    line-height: 22px;
    color: #0c253f;
    text-align: justify;
}

.message-block .message p:last-child{
    margin-bottom: 0;
}

.message-block .message .icon {
    fill: #e0e3e7;
    display: inline;
}

.message-block .message .icon.icon-right-quotation-mark {
    float: right;
    margin-left: 12px;
}

.message-block .message .icon.icon-quote-left{
    margin-right: 12px;
}

.news-block .filter {
    border-bottom: 1px solid #dce1e9;
}

.news-block .tab-pane {
    padding-top: 24px;
}

.news-block .nav-link {
    background-color: transparent;
    border: none;
    line-height: normal;
}

.tabs-type-first-level .nav-link {
    color: #1c3a5a;
    font-size: 20px;
    line-height: normal;
    padding: 8px 6px 10px;
    margin: 0 4px;
}

.tabs-type-first-level .nav-item:first-child .nav-link{
    padding: 8px 6px 10px 0;
    margin: 0 4px 0 0;
}

.tabs-type-first-level .nav-link.active {
    font-weight: 500;
    border-bottom: 4px solid #2d5ca6;
    color: #1c3a5a;
}

.tabs-news-second-level .nav-item{
    margin: 0 4px;
}

.tabs-news-second-level > .nav-item:first-child{
    margin: 0 4px 0 0;
}

.tabs-news-second-level .nav-link {
    color: #8a9199;
    font-size: 16px;
    line-height: 22px;
    background-color: transparent;
    padding: 1px 13px;
    margin: 0;
    border: 1px solid transparent;
}

.tabs-news-second-level .nav-link.active {
    border: 1px solid #dfe0e3;
    border-radius: 12px;
    color: #8a9199;
}

.tabs-news-second-level .nav-link:not(.active):hover{
    border: 1px solid transparent;
}

.tabs-news-second-level .submenu-button .icon {
    fill: #8a9199;
}

.tabs-news-second-level .tab-pane{
    padding-top: 28px;
}

.pagination .icon {
    border: 1px solid #dce1e9;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
}

.pagination .icon svg {
    fill: #7f9cbb;
}

.pagination .inactive svg {
    fill: #dce1e9;
}

.pagination > div {
    margin-left: 10px;
    display: flex;
}

.pagination > div > div:not(:first-child) {
    margin-left: 2px;
}

.divider {
    background-color: #dce1e9;
    height: 1px;
    width: 100%;
}

.main-page-news-list .image {
    position: relative;
    width: 100%;
    height: 166px;
    overflow: hidden;
}

.main-page-news-list .news {
    margin-top: 24px;
}

.news:hover {
    cursor: pointer;
    text-decoration: none;
}

.time-block {
    border-radius: 12px;
    padding: 0 8px;
    font-weight: 400;
    font-size: 16px;
}

.main-page-news-list .time-block {
    position: absolute;
    bottom: 11px;
    left: 13px;
    padding: 0 8px 0 4px;
    font-weight: 500;
}

.time-blue {
    background-color: #2568b0;
    color: #fff;
}

.time-blue .cls-1, .time-regular-blue .cls-1,
.time-dark-blue .cls-1{
    fill: #98b9dd !important;
}

.time-light-gray .cls-1{
    fill: #798291 !important;
}

.time-regular-blue{
    background-color: #21416f;
    color: #fff;
}

.time-dark-blue {
    background-color: #0c253f;
    color: #fff;
}

.time-light-gray {
    background-color: #e0e2e6;
    color: #2e3d54;
}

.main-page-news-list .text {
    background-color: #f5f7fa;
    flex: auto;
    color: #0c253f;
    font-size: 18px;
    font-weight: normal;
    padding: 16px 13px 17px;
    line-height: normal;
}

.page-news-list .text {
    color: #000810;
    margin-top: 8px;
    font-size: 17px;
    line-height: normal;
    font-weight: 300;
}

.cabinet-menu .heading-menu{
    margin-bottom: 8px;
}

.text-button-white {
    color: #0c253f;
    font-size: 16px;
    line-height: 22px;
    border-radius: 12px;
    padding: 0 0 0 11px;
    border: 1px solid #eeeff0;
}

.text-button-white:hover {
    text-decoration: none;
    color: #0c253f;
}

.text-button-white .icon {
    margin-left: 2px;
}
.text-button-white .icon, .text-button-white .icon .cls-1{
    fill: #afb6bf !important;
}

.sm-banner .img {
    width: 67px;
    height: 67px;
    margin-right: 30px;
    position: relative;
}

.sm-banner .text {
    color: #0c253f;
    font-size: 18px;
    line-height: normal;
    text-decoration: none;
}

.banners-container {
    padding-top: 28px;
}

.banners-container .sm-banner {
    margin-bottom: 14px;
}

.wide-banner {
    background-image: url(../img/wideBanner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 40px 0 45px;
    padding: 39px 0;
}

.wide-banner .text-xxl {
    font-size: 48px;
    line-height: normal;
    color: #fff;
    font-weight: 500;
    margin-right: 8px;
}

.wide-banner .text-sm {
    font-size: 20px;
    line-height: normal;
    color: #b7fff9;
}

.tabs-type-service-block .heading {
    color: #073050;
    font-size: 24px;
    line-height: 39px;
    margin-bottom: 0;
}

.tabs-type-service-block .nav-item{
    min-height: 38px;
}

.tabs-type-service-block .nav-item:first-child {
    margin-right: 11px;
}

.tabs-type-service-block .nav-item:not(:first-child){
    margin-right: 2px;
}

.tab-type-service-block{
    margin: 40px 0 29px;
}

.tabs-type-service-block .nav-link {
    border: none;
    background-color: transparent;
    color: #0d3a5f;
    font-size: 18px;
    line-height: normal;
    padding: 3px 14px;
}

.tabs-type-service-block .nav-link.active {
    color: #fff;
    background-color: #2169bf;
    border-radius: 13px;
}

.service .service-item {
    width: 165px;
    height: 165px;
    border-radius: 100%;
    border: 2px solid #eaedf0;
    position: relative;
    padding: 20px 20px 32px;
    text-decoration: none;
    margin-bottom: 40px;
    margin-left: 30px;
}
.service .service-item:nth-child(6n + 1){
    margin-left: 0;
}

.service .icon {
    fill: #234161;
    flex: 70px;
    position: relative;
    overflow: hidden;
}

.service span {
    color: #234161;
    flex: 45px;
    text-align: center;
    line-height: normal;
    font-size: 18px;
}

.menu-type-cabinet {
    border-radius: 15px;
    width: 195px;
    background-color: #19527f;
    right: -25px;
    left: auto;
    padding: 7px 0 2px;
}

.submenu-open .submenu.menu-type-cabinet{
    top: -14px;
    -webkit-box-shadow: 0 0 19px -8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 19px -8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 19px -8px rgba(0, 0, 0, 0.2);
}
.menu-type-cabinet .nav-item:hover .nav-link{
    color: #ffe75b;
}
.menu-type-cabinet .nav-item:hover svg, .menu-type-cabinet .nav-item:hover .cls-1{
    fill: #ffe75b !important;
}

.menu-type-cabinet .navbar-nav {
    padding: 0 9px 0 15px;
}

.menu-type-cabinet .navbar-nav .nav-link{
    padding: 3px 0;
}

.menu-type-cabinet .navbar-nav:not(:first-child) {
    border-top: 1px solid #26669b;
    padding-top: 8px;
}

.menu-type-cabinet .navbar-nav:not(:last-child) {
    border-bottom: 1px solid #134974;
    padding-bottom: 4px;
}
.grid{
    display: grid;
    grid-template-columns: 32px auto;
}

.menu-type-cabinet .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.menu-type-cabinet .heading-menu span {
    font-weight: 400;
}

.information-item {
    background-color: #19527f;
    border-radius: 10px;
    position: relative;
    padding: 12px 17px 20px;
}

.information-item:hover{
    text-decoration: none;
}

.information-item .icon {
    fill: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.information-item .name {
    font-size: 17px;
    line-height: normal;
    color: #fff;
}

.information-item .label {
    background-color: #234161;
    font-size: 16px;
    color: #ffe449;
    margin-top: 10px;
    padding: 0 12px;
    border-radius: 12px;
}

.public-information{
    padding: 26px 0 30px;
    background-color: #1c3a5a;
}
.public-information-video{
    padding-top: 4px;
}
.public-information-video iframe{
    max-width: 100%;
}

.heading.text-white{
    margin-bottom: 16px;
}

.public-information-container .information-item{
    margin-bottom: 19px;
}

.item-gallery {
    position: relative;
    height: 180px;
    display: flex;
}

.item-gallery > div{
    width: 100%;
}


.item-gallery .icon {
    position: absolute;
    overflow: hidden;
    fill: #ffde00;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: fill 0.3s linear;
}

.item-gallery:hover .icon{
    fill: #598fc8;
}

.item-gallery .ellipse {
    background-color: #598fc8;
    width: 124px;
    height: 124px;
    border-radius: 100%;
    top: -50px;
    left: -45px;
    position: absolute;
    transition: transform 0.3s linear;
}

.item-gallery:hover .ellipse{
    transform: scale(6);
}

.item-gallery .ellipse:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -7px;
    top: -3px;
    border-radius: 100%;
    background-color: #1c3a5a;
}

.item-gallery .illustration {
    position: absolute;
    top: 12px;
    left: 10px;
}

.item-gallery:not(:nth-child(-n+4)) {
    margin-top: 30px;
}

.gallery-container {
    padding: 66px 0 63px;
}

.item-gallery .image img{
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-gallery .header-item {
    position: absolute;
    top: 18px;
    left: 68px;
    border: 1px solid #3c6795;
    border-radius: 12px;
    font-size: 16px;
    color: #598fc8;
    font-weight: 500;
    line-height: 24px;
    padding: 0 12px 0 8px;
}

.item-gallery .description {
    font-size: 17px;
    color: #fff;
    margin-top: auto;
    position: absolute;
    padding: 0 12px 16px 12px;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: opacity 1s linear 2s;
    line-height: normal;
}
.item-gallery:hover .description{
    opacity: 1;
}

.divider-blue {
    width: 100%;
    height: 4px;
    background-color: #2d5ca6;
    margin: 26px 0 38px;
}

footer{
    padding-bottom: 46px;
}

footer .heading {
    font-size: 21px;
    color: #2d5ca6;
    font-weight: 500;
    border-bottom: 2px solid #2d5ca6;
    margin-right: 4px;
}

footer .heading-content{
    margin-bottom: 28px;
}

.contacts-logo-footer > div{
    width: 260px;
}

.icon.icon-sitemaps {
    fill: #94aeca;
    padding-top: 4px;
}

.contacts {
    color: #02112a;
}

footer .name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
    line-height: normal;
    color: #02112a;
}

footer .description {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: #02112a;
}

.divider-grey {
    height: 1px;
    width: 100%;
    background-color: #dce1e9;
    margin: 44px 0 46px;
}

.icon-trezub {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    fill: #FFD500;
    background-color: #2d5ca6;
}
.icon-creative-commons,
.icon-trezub{
    margin-right: 30px;
}

.icon-creative-commons {
    width: 66px;
    height: 66px;
    overflow: hidden;
    position: relative;
    min-width: 66px;
}
.icon-creative-commons .cls-1, .icon-creative-commons .cls-2{
    fill: #224f91 !important;
    opacity: 1;
}

.icon-creative-commons svg{
    position: absolute;
}

.mb-36{
    margin-bottom: 36px;
}

footer .description.blue {
    color: #2d5ca6;
    font-weight: 400;
}

.application-link {
    border-radius: 4px;
    margin-bottom: 16px;
}

.about-links {
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 48px;
}

.about-links .icon{
    margin-right: 9px;
}

.about-links .link{
    color: #004bc1;
    margin-bottom: 6px;
}

.about-links svg, .about-links svg .cls-1, .about-links svg .cls-2{
    fill: #7fa5e0 !important;
}

.developer-links .name {
    color: #234161;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.developer-links .description {
    font-size: 16px;
    color: #02112a;
}
.developer-links .icon{
    margin: 2px 9px 0 0;
}

.item-gallery:hover .header-item,
.item-gallery:hover .description {
    display: block;
}

.item-gallery:hover .bg-hover {
    width: 100%;
}
.item-gallery .bg-hover{
    background-color: #1c3a5a;
    width: 0;
    height: 100%;
    transition: width 0.3s linear;
    position: absolute;
    left: 0;
    top: 0;
}

.center-header p,
.message-block .message div:last-child,
footer .heading{
    margin-bottom: 0;
}

.right-header a,
.sm-banner:hover,
.information-item span,
a.item-gallery,
.developer-links a,
.about-links a {
    text-decoration: none;
}

.main-menu .first-level > .nav-link:hover,
.main-menu .dropdown-menu .nav-link:hover {
    color: #ffe449;
}

.first-level-link .line,
.item-gallery .header-item,
.item-gallery .description {
    display: none;
}

.main-page-news-list .image img{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.news-block .nav-tabs,
.tabs-type-service-block .nav-tabs {
    border: none;
}

.time-block .icon {
    margin-right: 7px;
}

.tabs-news-second-level .submenu-button .icon.open,
.transform-right-arrov {
    transform: rotate(180deg);
}

.page-news-list .news:not(:last-child){
    margin-bottom: 24px;
}

.banners-container .banner{
    margin-bottom: 20px;
}
.banners-container .banner:last-child{
    margin-bottom: 40px;
}

.listWithMore > ul {
    flex-wrap: nowrap;
}

.listWithMore ul a {
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-flow: nowrap;
}

.moreContainer ul li:not(:first-child) {
    display: none;
}
.moreContainer .moreBtn{
    display: inline-flex;
    fill: #8a9199;
    cursor: pointer;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-flow: nowrap;
}
.moreContainer .moreBtn .icon-arrow-type2{
    margin-left: 7px;
}
.moreContainer.open .icon-arrow-type2{
    transform: rotate(180deg);
}
.moreContainer.open .nav{
    flex-direction: column;
    position: absolute;
    top: -22px;
    background-color: #ffffff;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.12);
    padding: 9px 0 15px;
    left: -7px;
}
.moreContainer.open .nav-item{
    margin: 2px 0;
}
.moreContainer.open .nav-link{
    padding: 1px 15px 1px 20px;
    color: #0c253f;
}

.moreContainer.open ul li {
    display: block;
}
.icon-hide-type1,
.icon-hide-type2{
    margin-top: 4px;
}
.image-persona{
    width: 165px;
    height: 165px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #dce1e9;
    margin: 8px 0 9px;
    position: relative;
}
.image-persona img{
    width: 165px;
    height: 165px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.submenu-button > .icon-user{
   margin-top: -4px;
}
.icon-user svg{
    width: 36px !important;
    height: 36px !important;
    transform: translate(-7px, -4px);
}

.icon-search svg{
    width: 31px !important;
    height: 31px !important;
    transform: translate(-5px, -5px);
}
.icon-hide-type1 svg,
.icon-hide-type2 svg{
    width: 30px !important;
    height: 30px !important;
    transform: translate(-3px, -5px);
}
.icon-quote-left svg,
.icon-right-quotation-mark svg{
    width: 36px;
    height: 32px;
}
.icon-time svg{
    width: 18px;
    height: 18px;
    transform: scale(1.5);
}

.icon-link svg {
    width: 32px;
    height: 32px;
}
.icon-link .cls-2, .icon-link .cls-1{
    fill: #428fbf !important;
    opacity: 1;
}
.icon-youtube{
    width: 24px;
    height: 18px;
    position: relative;
}
.icon-youtube svg{
    left: -2px;
    top: -5px;
    position: absolute;
}
.icon-facebook{
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.icon-facebook svg{
    position: absolute;
    left: -7px;
    top: -9px;
}

.increase-font {
    display: none;
}
.bw .increase-font {
    display: block;
    background: #000000;
    z-index: 1001;
}

.increase-font p {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    width: 210px;
    margin: 0;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 12px;
}

.increase-font p span {
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

.increase-font .container-fluid {
    position: relative;
    height: 52px;
}
.increase-font .close-button,
.search-form .close-button{
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    top: 12px;
    cursor: pointer;
    opacity: 1;
}

.search-form .close-button{
    top: 20px;
    right: 20px;
}

.close-button:before,
.close-button:after {
    position: absolute;
    content: ' ';
    height: 28px;
    width: 2px;
    top: -3px;
    right: 10px;
    background: #4da9cf;
}

.close-button:before,
.close-button:after {
    background: #ffffff;
}

.close-button:before {
    transform: rotate(45deg);
}

.close-button:after {
    transform: rotate(-45deg);
}
.bw .font-minus {
    display: none;
}

.font-plus2 .font-minus,
.font-plus4 .font-minus {
    display: block;
    left: 210px;
    top: 10px;
}

.font-plus4 .font-plus{
    display: none;
}
.font-plus2 .font-minus {
    left: 235px;
    top: 13px;
}

body.bw{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

body.bw .article-content p,
body.bw .article-content span,
body.bw .breadcrumb-item span{
    color: #000000 !important;
}

body.bw .time-block,
body.bw .main-menu .dropdown-menu,
body.bw .main-menu .first-level.show > .nav-link,
body.bw .main-menu .first-level.show > .nav-link:before,
body.bw .main-menu .first-level.show > .nav-link:after,
body.bw .main-menu .dropdown-menu .nav-item{
    background: #000000;
}

body.bw .tabs-news-second-level .nav-link,
body.bw .tabs-type-first-level .nav-link{
    color: #000000;
}

body.bw .message-block .message,
body.bw .main-page-news-list .text{
    background-color: #ffffff;
    border: 1px solid #000000;
}
body.bw header svg, body.bw header .cls-1, body.bw header .cls-2{
    fill: #ffffff !important;
}
body.bw .pagination .icon svg,
body.bw .pagination .icon .cls-1,
body.bw .pagination .icon .cls-2,
body.bw .text-button-white .icon,
body.bw .text-button-white .icon .cls-1,
body.bw .about-links svg,
body.bw .about-links svg .cls-1,
body.bw .about-links svg .cls-2{
    fill: #000000 !important;
}
body.bw .tabs-type-first-level .nav-link.active,
body.bw .text-button-white{
    border-color: #000000;
}

.font-plus2  .navbar-brand .name-item,
.font-plus2 .menu-type-cabinet .nav-link,
.font-plus2 .message-block .function,
.font-plus2 .tabs-news-second-level .nav-link,
.font-plus2 .time-block,
.font-plus2 .text-button-white,
.font-plus2 .information-item .label,
.font-plus2 .item-gallery .header-item,
.font-plus2 footer .description,
.font-plus2 .about-links,
.font-plus2 .developer-links .description,
.font-plus2 .search-input-block span,
.font-plus2 .article-content .label{
    font-size: 18px;
}

.font-plus2 .page-news-list .text,
.font-plus2 .information-item .name,
.font-plus2 .item-gallery .description{
    font-size: 19px;
}

.font-plus2 .increase-font p,
.font-plus2 .message-block .name,
.font-plus2 .message-block .message p,
.font-plus2 .main-page-news-list .text,
.font-plus2 .sm-banner .text,
.font-plus2 .tabs-type-service-block .nav-link,
.font-plus2  .service span,
.font-plus2 footer .name,
.font-plus2 .btns-wrap a,
.font-plus2 .btns-wrap .or,
.font-plus2  .search-button,
.font-plus2 .breadcrumb-item,
.font-plus2 .article-content .details-heading,
.font-plus2 .article-footer-button,
.font-plus2 .menu-type-inner .name,
.font-plus2 .menu-type-inner .item{
    font-size: 20px;
}

.font-plus2 .main-menu .dropdown-menu .nav-link span,
.font-plus2 .inner-content,
.font-plus2 .list,
.font-plus2 .list-number{
    font-size: 21px;
}

.font-plus2 .main-menu .first-level > .nav-link,
.font-plus2 .tabs-type-first-level .nav-link,
.font-plus2 .wide-banner .text-sm{
    font-size: 22px;
}

.font-plus2 .message-block .last-name {
    font-size: 24px;
}

.font-plus2 .text-headline{
    font-size: 25px;
}
.font-plus2  .heading{
    font-size: 26px;
}


.font-plus4  .navbar-brand .name-item,
.font-plus4 .menu-type-cabinet .nav-link,
.font-plus4 .message-block .function,
.font-plus4 .tabs-news-second-level .nav-link,
.font-plus4 .time-block,
.font-plus4 .text-button-white,
.font-plus4 .information-item .label,
.font-plus4 .item-gallery .header-item,
.font-plus4 footer .description,
.font-plus4 .about-links,
.font-plus4 .developer-links .description,
.font-plus4 .search-input-block span,
.font-plus4 .article-content .label{
    font-size: 20px;
}

.font-plus4 .page-news-list .text,
.font-plus4 .information-item .name,
.font-plus4 .item-gallery .description{
    font-size: 21px;
}

.font-plus4 .increase-font p,
.font-plus4 .message-block .name,
.font-plus4 .message-block .message p,
.font-plus4 .main-page-news-list .text,
.font-plus4 .sm-banner .text,
.font-plus4 .tabs-type-service-block .nav-link,
.font-plus4  .service span,
.font-plus4 footer .name,
.font-plus4 .btns-wrap a,
.font-plus4 .btns-wrap .or,
.font-plus4  .search-button,
.font-plus4 .breadcrumb-item,
.font-plus4 .article-content .details-heading,
.font-plus4 .article-footer-button,
.font-plus4 .menu-type-inner .name,
.font-plus4 .menu-type-inner .item{
    font-size: 22px;
}

.font-plus4 .main-menu .dropdown-menu .nav-link span,
.font-plus4 .inner-content,
.font-plus4 .list,
.font-plus4 .list-number{
    font-size: 23px;
}

.font-plus4 .main-menu .first-level > .nav-link,
.font-plus4 .tabs-type-first-level .nav-link,
.font-plus4 .wide-banner .text-sm{
    font-size: 24px;
}

.font-plus4 .message-block .last-name {
    font-size: 26px;
}

.font-plus4 .text-headline{
    font-size: 27px;
}
.font-plus4  .heading{
    font-size: 28px;
}

.links-gov {
    height: 185px;
    width: 100%;
    background-color: #175588;
    margin-bottom: 46px;
}

.links-gov * {
    box-sizing: border-box;
}

.slider {
    width: 90%;
    margin: 0px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    height: 120px;
    margin: 30px 0px;
}

.slick-prev:before,
.slick-next:before {
    color: #2470af;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .5;
}


.slick-slide:hover {
    transition: all ease-in-out .3s;
    opacity: 1;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: .5;
}

.slick-prev{
    left: -45px;
}
.slick-next{
    right: -45px;
}

.slick-prev, .slick-next{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #4e7799;
    justify-content: center;
    border: 6px solid #134a77;
    border-radius: 100%;
}

.slick-next:focus,
.slick-prev:focus{
    background-color: #4e7799;
}

.slick-prev:hover, .slick-next:hover{
    background-color: #c4d1d6;
}

.slick-prev:before, .slick-next:before{
    color: #134a77;
    font-size: 24px;
    opacity: 1;
    height: 20px;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
    opacity: 1;
}
.search-form{
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: #1a314b;
    z-index: 99;
    position: absolute;
    right: 0;
    left: 0;
    border-radius: 0 0 15px 15px;
    display: none;
}
.search-form.show{
    transform: translate(0, 0);
    display: block;
}
.btns-wrap{
    margin-top: 65px;
    padding-left: 20px;
    margin-bottom: 60px;
}
.btns-wrap a{
    padding: 10px 19px;
    color: #ffffff;
    font-size: 18px;
}
.btns-wrap a:hover{
    text-decoration: none;
}
.button-form{
    border-radius: 20px;
    background-color: #2568b0;
}
.btns-wrap .or {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 18px;
}
.btns-wrap .dashed{
   border-bottom: 1px dashed #fff;
      padding: 3px 0px;
  }
.search-input-block span{
    color: #ffffff;
    font-size: 16px;
}
.search-input-block label{
    flex-direction: column;
    display: flex;
}
.search-input-block input{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    padding: 0 16px;
    margin-top: 4px;
}
.search-button{
    width: 100%;
    height: 40px;
    background-color: #ffe358;
    border: none;
    font-size: 18px;
    font-weight: 500;
}
.logo-footer img{
    width: 66px;
    margin-right: 30px;
}
.button-more-topics{
    position: relative;
}
.breadcrumb{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
.breadcrumb-item a{
    color: #004bc1;
}

.breadcrumb-item a:hover{
    color: #004bc1;
    text-decoration: none;
}
.home-icon{
    width: 17px;
    height: 16px;
    fill: #7f9cbb;
}

.breadcrumb-item{
    font-size: 18px;
    font-weight: 300;
}

.home + .breadcrumb-item:before{
    content: "";
}
.breadcrumb-item+.breadcrumb-item{
    padding-left: 7px;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-right: 7px;
    color: #7f9cbb;
}
.breadcrumb-item.active{
color: #7f9cbb;
}
.container-breadcrumb .like{
    fill: #7f9cbb;
    position: absolute;
    right: 8px;
    cursor: pointer;
    top: 6px;
}
.container-breadcrumb .like.active{
    fill: #ffe449;
}
.heart-icon svg{
    width: 17px;
    height: 15px;
}
.heart-icon{
    display: inline-flex;
    align-items: center;
}
.container-breadcrumb{
    padding: 0 32px 12px 9px;
    border-bottom: 1px solid #dce1e9;
    position: relative;
    display: flex;
    align-items: center;
}
.menu-type-inner{
border-radius: 15px;
    background-color: #f5f7fa;
    margin-top: 7px;
    overflow: hidden;
    position: relative;
}
.menu-type-inner ul{
    list-style: none;
    padding: 0 16px 0 19px;
    margin: 0;
}
.menu-type-inner .name{
    font-size: 18px;
    color: #073050;
    font-weight: 500;
    padding: 0 16px 0 19px;
    background-color: inherit;
    z-index: 1;
}
.menu-type-inner .name span{
    margin: 15px 0 12px 0;
    display: block;
}
.menu-type-inner .item{
    font-weight: 300;
    font-size: 18px;
    padding: 15px 0 20px;
    position: relative;
    line-height: normal;
}
.menu-type-inner .item:before{
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #dce1e9;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
}
.menu-type-inner .item a,
.menu-type-inner .item a:hover{
    color: #004bc1;
    text-decoration: none;
}
.article-content{
    margin-top: 22px;
}
.menu-type-inner .menu-icon{
    width: 27px;
    height: 23px;
    fill: #7f9cbb;
    position: absolute;
    top: 9px;
    right: 13px;
}
.menu-type-inner .menu-icon svg{
    width: 39px;
    height: 36px;
    transform: translate(-6px, -6px);

}
.menu-type-inner .close-icon{
    width: 22px;
    height: 21px;
    fill: #7f9cbb;
    display: none;
    position: absolute;
    top: 11px;
    right: 15px;
}
.menu-type-inner .close-icon svg{
    width: 50px;
    height: 48px;
    transform: translate(-14px, -13px);
}
.menu-type-inner.open .close-icon{
    display: block;
}
.menu-type-inner.open .menu-icon{
    display: none;
}
.article-content .heading{
    font-size: 30px;
    color: #1c3a5a;
    line-height: normal;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
}
.article-content .details-heading{
    color: #7f9cbb;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 16px;
}
.article-content  .labels{
    margin-bottom: 16px;
}
.article-content  .label{
    margin-right: 12px;
    padding: 3px 16px;
    border-radius: 13px;
    border: 2px solid #d5deed;
    color: #8a9199;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 10px;
}
.article-content  .label:hover{
    text-decoration: none;
    color: #8a9199;
}
.article-content  .label:last-child{
    margin-right: 0;
}
.inner-content{
    font-family: "proda";
    line-height: normal;
    font-size: 19px;
    margin-bottom: 8px;
}
.inner-content p{
    color: #000b17;
    font-weight: 400;
    margin-bottom: 16px;
}
.inner-content a{
    color: #004bc1;
    text-decoration: underline;
}
.inner-content b{
    color: #1c3a5a;
}
.list{
    padding-left: 0;
    list-style: none;
    margin: 0 0 18px 13px;
    font-size: 19px;
    color: #000b17;
}
.list li{
    position: relative;
    padding-left: 22px;
}
.list li:before{
    position: absolute;
    left: 0;
    top: 5px;
    height: 11px;
    width: 11px;
    background-color: #d8d8d8;
    border-radius: 100%;
    content: "";
}
.list-number{
    padding-left: 34px;
    list-style: decimal;
    margin: 0 0 18px 0;
    font-size: 19px;
    color: #000b17;
}
.list-number li::marker{
    color: #7f9cbb;
    font-weight: 500;
}
.print-icon{
    width: 24px;
    height: 24px;
    fill: #7f9cbb;
}
.article-footer-button{
    font-size: 18px;
    color: #004bc1;
    cursor: pointer;
    margin-bottom: 16px;
}
.article-footer-button .icon{
    margin-right: 10px;
}
.article-footer-button svg{
    width: 28px;
    height: 28px;
    transform: translate(-2px, -1px);

}
.big-banners .banner{
    width: 232px;
    height: 120px;
    margin-right: 15px;
    margin-left: 15px;
}

.big-banners .banner img,
.sm-banner .img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
.icon-bus svg{
    width: 57px;
    height: 57px;
}
.icon-money svg{
    width: 59px;
    height: 59px;
}